<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wordle.mapper.UserMapper">

    <resultMap id="userMap" type="com.wordle.model.User">
        <id     property="id"        column="id" />
        <result property="username"  column="username" />
        <result property="password"  column="password" />
        <result property="email"     column="email" />
        <result property="googleId"  column="google_id" />
        <result property="loginType" column="login_type" />
        <result property="role"      column="role" />
    </resultMap>

    <select id="findByUsername" resultMap="userMap">
        SELECT  id
                ,username
                ,password
                ,email
                ,google_id
                ,login_type
                ,role
        FROM users
        WHERE username = #{username}
    </select>

    <select id="findByGoogleId" resultMap="userMap">
        SELECT  id
                ,username
                ,password
                ,email
                ,google_id
                ,login_type
                ,role
        FROM users
        WHERE google_id = #{googleId}
    </select>

    <select id="findById" resultMap="userMap">
        SELECT  id
                ,username
                ,email
                ,google_id
                ,login_type
                ,role
        FROM users
        WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="userMap">
        SELECT  id
                ,username
                ,email
                ,google_id
                ,login_type
                ,role
        FROM users ORDER BY id DESC
    </select>

    <insert id="insertUser">
        INSERT
            INTO users (
                username
                ,password
                ,email
                ,google_id
                ,login_type
                ,role
                )
        VALUES (
                #{username}
                ,#{password}
                ,#{email}
                ,#{googleId}
                ,#{loginType}
                ,'USER'
                )
    </insert>

    <update id="updateUserRole">
        UPDATE users
        SET
            role = #{role}
        WHERE id = #{id}
    </update>

    <update id="updatePassword">
        UPDATE users
        SET
            password = #{password}
        WHERE id = #{id}
    </update>

    <delete id="deleteUser">
        DELETE FROM users
        WHERE id = #{id}
    </delete>

</mapper>